|===
  |파라미터|필수값|설명

{{#cookies}}
  |{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
  |{{#tableCellContent}}{{^optional}}true{{/optional}}{{/tableCellContent}}
  |{{#tableCellContent}}{{description}}{{/tableCellContent}}
{{/cookies}}

|===